
{% extends './layout.html' %}

{% block title %} 
   {{data.titulo}} 
{% endblock %}

{% block body %} 

   <h1>{{data}}</h1>
      <ul>
        {% for c in data.cursos %}
            <li> {{ c }}</li>
        {% endfor %}
      </ul>

<form action=servidor-ejemplo.com">
      <fieldset>
        <legend>Contacto</legend>
        <div class="form-control">
          <label for="name">Nombre</label>
          <input type="name" id="name" placeholder="Introduce tu nombre" required />
        </div>

        <div class="form-control">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Introduce tu Email"
            required
          />
        </div>

        <div class="form-control">
          <label for="message">Mensaje</label>
          <textarea
            id="message"
            cols="30"
            rows="10"
            placeholder="Introduce tu mensaje"
            required
          ></textarea>
        </div>
<div class="form-control">
<select>
      <option value="HTML">Select a Language</option>
      <option value="HTML">HTML</option>
      <option value="CSS">CSS</option>
      <option value="JavaScript">JavaScript</option>
      <option value="React">React</option>
</select>
</div>
<input type="checkbox" />
<textarea cols="50" rows="20"></textarea>
<input type="number" placeholder="Enter a number" />


        <input type="submit" value="Enviar" class="submit-btn" />
      </fieldset>
</form>



{% endblock %}

